:host {
  @apply w-full max-w-screen-limit px-8 md:px-16 flex flex-col py-48 justify-start items-center;

  .screen-outline {
    @apply fixed w-full h-full left-1/2 -translate-x-1/2 top-0;
    pointer-events: none;
    user-select: none;
    animation: frame-in 700ms ease-out both;
  }

  .balance-wrapper {
    @apply w-full md:w-[calc(100%-4rem)] max-w-screen-limit fixed right-1/2 translate-x-1/2 top-[80px] flex justify-end items-center;
    pointer-events: none;

    .balance {
      @apply w-[13%] text-center text-sm text-yellow flex justify-center items-center gap-x-1;
      font-variant-numeric: tabular-nums;

      img {
        @apply h-[10px] w-[10px];
      }
    }
  }
}

@keyframes frame-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
