amqp==5.2.0; python_version >= "3.8"
annotated-types==0.6.0; python_version >= "3.8"
asgiref==3.7.2; python_version >= "3.10"
async-timeout==4.0.3; python_full_version <= "3.11.2" and python_version >= "3.7"
billiard==4.2.0; python_version >= "3.8"
blinker==1.7.0; python_version >= "3.8"
cachecontrol==0.14.0; python_version >= "3.7"
celery==5.3.6; python_version >= "3.8"
certifi==2024.2.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
cffi==1.16.0; sys_platform == "linux" and python_version >= "3.8" and platform_python_implementation != "PyPy"
cfgv==3.4.0; python_version >= "3.9"
charset-normalizer==3.3.2; python_full_version >= "3.7.0" and python_version >= "3.7"
click-didyoumean==0.3.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.8"
click-plugins==1.1.1; python_version >= "3.8"
click-repl==0.3.0; python_version >= "3.8"
click==8.1.7; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.8"
colorama==0.4.6; python_version >= "3.8" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.8" and python_full_version >= "3.7.0"
cryptography==42.0.4; sys_platform == "linux" and python_version >= "3.8"
distlib==0.3.8; python_version >= "3.9"
django-background-tasks==1.2.5
django-compat==1.0.15
django==5.0.2; python_version >= "3.10"
djangorestframework==3.14.0; python_version >= "3.6"
filelock==3.13.1; python_version >= "3.9"
flask==3.0.2; python_version >= "3.8"
identify==2.5.35; python_version >= "3.9"
idna==3.6; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
importlib-metadata==7.0.1; python_version < "3.12" and python_version >= "3.8"
itsdangerous==2.1.2; python_version >= "3.8"
jaraco.classes==3.3.1; python_version >= "3.8"
jeepney==0.8.0; sys_platform == "linux" and python_version >= "3.8"
jinja2==3.1.3; python_version >= "3.8"
keyring==24.3.0; python_version >= "3.8"
kombu==5.3.5; python_version >= "3.8"
markupsafe==2.1.5; python_version >= "3.8"
more-itertools==10.2.0; python_version >= "3.8"
msgpack==1.0.7; python_version >= "3.8"
nodeenv==1.8.0; python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.9"
oauthlib==3.2.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
packaging==23.2; python_version >= "3.7"
platformdirs==4.2.0; python_version >= "3.9"
pre-commit==3.6.2; python_version >= "3.9"
prompt-toolkit==3.0.43; python_full_version >= "3.7.0" and python_version >= "3.8"
pycparser==2.21; python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "linux" and platform_python_implementation != "PyPy" or sys_platform == "linux" and python_version >= "3.8" and platform_python_implementation != "PyPy" and python_full_version >= "3.4.0"
pydantic-core==2.16.2; python_version >= "3.8"
pydantic-settings==2.2.1; python_version >= "3.8"
pydantic==2.6.1; python_version >= "3.8"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
python-dotenv==1.0.1; python_version >= "3.8"
pytz==2024.1; python_version >= "3.6"
pywin32-ctypes==0.2.2; sys_platform == "win32" and python_version >= "3.8"
pyyaml==6.0.1; python_version >= "3.9"
redis==5.0.1; python_version >= "3.7"
requests-oauthlib==1.3.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
requests==2.31.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
secretstorage==3.3.3; sys_platform == "linux" and python_version >= "3.8"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
sqlparse==0.4.4; python_version >= "3.10"
tweepy==4.14.0; python_version >= "3.7"
twitterapi==2.8.2
typing-extensions==4.9.0; python_version < "3.11" and python_version >= "3.10"
tzdata==2024.1; sys_platform == "win32" and python_version >= "3.10"
urllib3==2.2.1; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
vine==5.1.0; python_version >= "3.8"
virtualenv==20.25.1; python_version >= "3.9"
wcwidth==0.2.13; python_full_version >= "3.7.0" and python_version >= "3.8"
werkzeug==3.0.1; python_version >= "3.8"
zipp==3.17.0; python_version < "3.12" and python_version >= "3.8"
