:host {
  .lds-dual-ring {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 19px;
    height: 19px;
    margin: 3px;
    border-radius: 50%;
    border: 3px solid #f8ef00;
    border-color: #f8ef00 transparent #f8ef00 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
