<p class="orb-name">{{ label() }}</p>

<div class="orb" [class.disabled]="locked()" (click)="open()">
  <img [src]="'assets/images/orbs/' + slug() + '1.png'" class="top" [alt]="label() + ' orb'" />
  <img [src]="'assets/images/orbs/' + slug() + '2.png'" class="bottom" alt="" aria-hidden="true" />
  <span class="glow-wrapper"><span class="glow"></span></span>
  <span class="unlock-label">unlock</span>
</div>

<button class="action-button" type="button" [disabled]="locked()" (click)="open()">
  @if (locked()) {
    <countdown
      [config]="{ leftTime: secondsUntilReady(), format: 'HH:mm:ss' }"
      (event)="onCountdown($event)"
    />
  } @else if (priceLabel()) {
    {{ priceLabel() }} eth
    <img class="eth-icon" src="assets/images/eth.svg" alt="" aria-hidden="true" />
  } @else {
    open
  }
</button>
