node_modules
.env

# Hardhat files
/cache
/artifacts
/.openzeppelin

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

package-lock.json
.openzeppelin/
