@use "@angular/material" as mat;

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

$typography: mat.define-typography-config(
  $font-family: "Tomorrow, 'Helvetica Neue', sans-serif",
);

$font-base-path: "./assets/fonts/";

@include mat.all-component-typographies($typography);

@font-face {
  font-family: "Tomorrow";
  src: url($font-base-path + "Tomorrow-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url($font-base-path + "Tomorrow-Bold.ttf");
  font-weight: bold;
}

html,
body {
  @apply h-full w-full m-0 bg-black relative flex flex-col justify-start items-center;
  font-family: Tomorrow, "Helvetica Neue", sans-serif !important;
}

@layer base {
  *::-webkit-scrollbar {
    width: 7px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-black;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-yellow;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-yellow/80;
  }

  h1 {
    @apply text-6xl font-bold;
  }

  .action-button {
    @apply bg-yellow px-4 py-2 text-black font-bold text-lg uppercase text-nowrap h-max transition-all relative;
    clip-path: polygon(
      0 0,
      calc(100% - 15px) 0,
      100% 15px,
      100% 100%,
      calc(100% - 25px) 100%,
      calc(100% - 25px) calc(100% - 5px),
      calc(100% - 60px) calc(100% - 5px),
      calc(100% - 60px) 100%,
      15px 100%,
      0 calc(100% - 15px)
    );

    &:before {
      @apply content-[''] w-[4px] h-0 absolute bg-red-500 right-0 bottom-0 transition-all;
    }

    &:hover {
      @apply pr-8 before:h-full;
      clip-path: polygon(
        0 0,
        100% 0,
        100% 15px,
        100% 100%,
        calc(100% - 25px) 100%,
        calc(100% - 25px) calc(100% - 5px),
        calc(100% - 60px) calc(100% - 5px),
        calc(100% - 60px) 100%,
        15px 100%,
        0 calc(100% - 15px)
      );
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-dialog-surface {
  @apply p-4 bg-black flex flex-col justify-start items-start gap-y-16 border-2 border-yellow rounded-none text-pale #{!important};

  .caption {
    @apply font-bold text-lg;
  }

  .list {
    @apply w-full flex flex-col justify-start items-start gap-y-2;

    a {
      @apply text-yellow hover:underline;
    }
  }

  .actions {
    @apply w-full flex flex-col justify-start items-center gap-y-4;
  }

  mat-form-field {
    @apply w-full #{!important};

    .mat-mdc-text-field-wrapper {
      @apply text-lg overflow-visible px-2 py-4 bg-yellow/10;

      .mat-mdc-floating-label {
        @apply text-yellow uppercase #{!important};
      }

      .mdc-line-ripple {
        @apply hidden #{!important};
      }
    }

    .mat-mdc-form-field-subscript-wrapper {
      @apply hidden #{!important};
    }
  }
}
