<h1>Terms of Use</h1>
    <h2>Last Updated: 01.02.2024</h2>
    <p>Welcome to Quantum Orbs! By accessing and using our website, you agree to comply with and be bound by the following terms and conditions of use. If you do not agree with these terms, please refrain from using our services.</p>

    <h2><strong>Acceptance of Terms</strong></h2>
    <ul>
        <li>By accessing or using Quantum Orbs, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use. We reserve the right to update or modify these terms at any time without prior notice. Your continued use of Quantum Orbs after such modifications constitutes your acceptance of the updated terms.</li>
    </ul>

    <h2><strong>Eligibility</strong></h2>
    <ul>
        <li>Age Requirement: You must be of legal age in Argentina to participate in gambling activities on Quantum Orbs. By using our services, you affirm that you meet these eligibility requirements.</li>
        <li>Proof of Age: We reserve the right to request proof of age and to suspend or terminate accounts of users found to be underage in accordance with Argentine regulations.</li>
    </ul>
    
    <h2><strong>User Accounts</strong></h2>
    <ul> 
        <li>Account Responsibility: You are responsible for maintaining the confidentiality of your Quantum Orbs account information and password. Any activities that occur under your account are your responsibility. </li>
        <li>Accurate Information: You agree to provide accurate and complete information during the registration process. Inaccurate or incomplete information may result in the suspension or termination of your account in compliance with Argentine laws.</li>
        <li>Unauthorized Access: If you suspect any unauthorized access to your Quantum Orbs account, you must notify us immediately. We are not responsible for any losses or damages resulting from unauthorized access, as per Argentine legal standards.</li>
    </ul>


    <h2><strong>Gambling Activities</strong></h2>
    <ul>
        <li>Participation: By participating in gambling activities on Quantum Orbs, you acknowledge that you are aware of the risks and agree to be solely responsible for your actions.</li>
        <li>No Guaranteed Winnings: We do not guarantee winnings, and all outcomes are based on chance. The odds and rules for each game are provided on the platform.</li>
        <li>Compliance with Argentine Law: Users are responsible for understanding and complying with the gambling laws in Argentina. It is your responsibility to ensure that you are allowed to participate in online gambling activities according to the laws of Argentina.</li>
    </ul>

    <h2><strong>Responsible Gambling</strong></h2>
    <ul>
        <li>Encouragement and Resources: Quantum Orbs encourages responsible gambling. If you believe you have a gambling problem, please seek help and consider self-exclusion options.</li>
        <li>Tools and Responsibility: We provide tools for setting deposit limits and self-exclusion periods. It is your responsibility to use these tools if needed.</li>
        <li>Limitation and Assistance: We reserve the right to limit or terminate the accounts of users who exhibit signs of problematic gambling behavior, following Argentine regulations, and we may provide resources for assistance.</li>
    </ul>

    <h2><strong>Intellectual Property</strong></h2>
    <ul>
        <li>Ownership and Protection: All content and materials on Quantum Orbs, including but not limited to logos, graphics, and software, are the property of Quantum Orbs and are protected by Argentine intellectual property laws.</li>
        <li>Unauthorized Use: Users are not allowed to reproduce, distribute, or modify any content without our written consent. Any unauthorized use may result in legal action under Argentine law.</li>
    </ul>

    <h2><strong>Disclaimer of Warranties</strong></h2>
    <ul>
        <li>"As Is" and No Guarantees: Quantum Orbs is provided "as is," without any warranties or guarantees. We do not make any representations regarding the accuracy, reliability, or completeness of the information on our platform.</li>
        <li>Access and Downtime: We do not guarantee uninterrupted or error-free access to Quantum Orbs. We reserve the right to suspend or terminate access to our platform at any time without prior notice.</li>
    </ul>
