<h4 class="caption">Complete these tasks to open the orb:</h4>
<ol class="list">
  <li>
    1. Subscribe to our Twitter/X:
    <a href="" target="_blank">&#64;quantum-orbs</a>
  </li>
  <li>2. Like our latest post</li>
  <li>3. Retweet our latest post using hashtag #quantumorbs</li>
</ol>
<div class="actions">
  <mat-form-field>
    <mat-label>Your Twitter/X tag (without &#64;)</mat-label>
    <input matInput [formControl]="twitterTag" />
  </mat-form-field>
  <button class="action-button">check requirements</button>
</div>
