body {
    color: #FCFDC7;
  }

  h1{
    text-align: center;
    color: #FCFDC7;
  }
  
  table {

    td, th {
      text-align: center;
    }

    th{
        color: #FCFC03;
    }

    td{
        color: #FCFDC7;
    }
  }