<div class="leaderboard">
    <h1 class="title">Leaderboard</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="rank">Rank</th>
          <th class="address">Address</th>
          <th class="invitations">Invitations</th>
          <th class="points">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of leaderboardData">
          <td>{{ player.rank }}</td>
          <td>{{ player.address }}</td>
          <td>{{ player.invitations }}</td>
          <td>{{ player.points }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  