<h1>Leaderboard</h1>
<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Address</th>
      <!-- <th>Invitations</th> -->
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let user of users$ | async; index as i"
      [ngClass]="{ active: user.address === (address$ | async) }"
    >
      <td>{{ i + 1 }}</td>
      <td>
        <ng-container *ngIf="innerWidth > 768; else shortAddress">{{
          (address$ | async) ?? user.address
        }}</ng-container>
        <ng-template #shortAddress>{{
          user.address | shortAddress
        }}</ng-template>
      </td>
      <!-- <td>{{ user | invitationsAmount }}</td> -->
      <td>{{ user.points }}</td>
    </tr>
  </tbody>
</table>
